<!DOCTYPE html>
<html>
    <head>
        <title>Templates</title>
    </head>
    <body>
        <h1>Understanding Templates</h1>
        
        <h2>Hello {{.Name}}</h2>

        <div>

            <p>
                You are {{.Age}} years old
                <br>
                Your department is <strong>{{.Department}}</strong>
                <br>
                Your favorite language is <strong>{{.Favoritelanguage}}</strong>
                
            </p>
        </div>

    </body>
</html>